/*Structure*/

html, body	{
	margin:0; 
	padding:0; 		
	height:100%;
}
.header, .footer {
	width:100%; 
	height:10%;
	clear:both; 
}

.nav, .aside{
	width:5%;
	height:80%; 
}
.section {
	width: 90%;
	height:80%;
}

.nav, .section {
	float: left;
}

.aside {
	float: right;
}

/* Color, typography and basic layout*/

.header {
	text-align:center;
	background:darkseagreen;
	}
.nav{
	background:darkseagreen;
}
.section {
	background:ivory;
}
.aside { 
	background:darkseagreen;
}
.footer {
	background:darkseagreen;
}
		
h1 {
	color:rgb(255, 245, 111); 
	margin-top:-1px;
	text-shadow:5px 5px rgb(103, 121, 26);
	text-align:center;
}

#round {
	background:rgb(108, 177, 138);
	text-align:center; 
	width: 300px;
	padding: 30px;
	margin-top: 0px;
	border-radius: 0px 0px 50px 50px;
	font-size: x-large;
	color: rgb(255, 255, 255);
	text-shadow: 3px 3px rgb(65, 100, 74);
}

.nav img{
	display:block;
	margin:auto; 
	width:50px; 
	height:50px;
}

.section img {
	display:block; 
	margin:auto; 
	height:225px;
}

p {
	font-size:80%;
}

.section strong {
	color:cadetblue; 
	font-size:120% 
}

.section ul{
	line-height: 2.5em;
}

